doctype html
html(lang="en")
  head
    title= fewatcher
    script(src='http://localhost:35729/livereload.js')
    link(rel='stylesheet', href='css/app.css', type='text/css')
  body
    h1 Front-End Watcher
    include partials/content